<div class="group rounded-2xl bg-white px-6 pt-0 shadow dark:bg-black dark:shadow-dark">
    <h3 class="relative z-10 bg-white pb-2 pt-6 text-2xl font-semibold dark:bg-black dark:text-light">
        Work Experience
    </h3>

    <div class="max-h-[200px] space-y-4 overflow-hidden pb-6 pt-4 [&::-webkit-scrollbar-thumb]:bg-gray-400 dark:[&::-webkit-scrollbar-thumb]:bg-slate-500 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-0">
        <div class="animate-scrollY space-y-4 group-hover:[animation-play-state:paused]">
            {{ collection from="work_experiences" sort="order" }}
                <div class="flex flex-col gap-1 md:flex-row md:gap-10">
                    <p class="mt-1 text-sm font-medium text-muted dark:text-light/70">
                        {{ date_active:start format="Y" }} - {{ date_active:end format="Y" }}
                    </p>
                    <div class="flex items-center gap-3">
                        <div class="grid h-8 w-8 shrink-0 place-content-center rounded-lg bg-light dark:bg-dark-2">
                            {{ logo }}
                                <img src="{{ url }}" alt="{{ alt }}" class="h-5 w-5" />
                            {{ /logo }}
                        </div>
                        <div class="">
                            <h6 class="text-base font-semibold text-dark dark:text-light/70">
                                {{ title }}
                            </h6>
                            <p class="text-sm text-muted">
                                {{ job_title }}
                            </p>
                        </div>
                    </div>
                </div>
            {{ /collection }}
        </div>
        <div class="animate-scrollY space-y-4 group-hover:[animation-play-state:paused]">
            <div class="flex flex-col gap-1 md:flex-row md:gap-10">
                <p class="mt-1 text-sm font-medium text-muted dark:text-light/70">
                    {{ date_active:start format="Y" }} - {{ date_active:end format="Y" }}
                </p>
                <div class="flex items-center gap-3">
                    <div class="grid h-8 w-8 shrink-0 place-content-center rounded-lg bg-light dark:bg-dark-2">
                        {{ logo }}
                        <img src="{{ url }}" alt="{{ alt }}" class="h-5 w-5" />
                        {{ /logo }}
                    </div>
                    <div class="">
                        <h6 class="text-base font-semibold text-dark dark:text-light/70">
                            {{ title }}
                        </h6>
                        <p class="text-sm text-muted">
                            {{ job_title }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
